doctype html
html
  head
    title Attendance Tracker
    link(rel="stylesheet", href="/css/style.css")
  body
    .navbar
      h2 CARD SCANNING
      ul
        li: a(href='/') Home
        li: a(href='/admin') Admin
        li: a(href='/all-users') All-users
        li: a(href='/report') report

    .container
      block content

    .footer
      p ITS SCANNING SERVICES • © #{new Date().getFullYear()}
